* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px; }

.wrapper {
  margin: 0 auto;
  max-width: 1010px;
  padding: 0 10px; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.header__top {
  background-color: #37a14c;
  position: fixed;
  width: 100%; }
  .header__top .soc-menu.pull-right {
    display: inline-block;
    line-height: 45px;
    padding-right: 12px; }
    .header__top .soc-menu.pull-right a {
      margin-left: 4px;
      display: inline-block;
      text-indent: -10000px; }
  .header__top .header-slogan {
    padding: 9px 0;
    line-height: 25px;
    font-size: 16px;
    color: #fff;
    display: inline-block; }

.header__col_logo {
  text-align: center;
  height: 116px;
  line-height: 116px; }
  .header__col_logo img {
    vertical-align: middle; }

.header__col_logo1 {
  height: 116px;
  line-height: 116px;
  text-align: center; }
  .header__col_logo1 img {
    vertical-align: middle;
    max-width: 100%; }

.header__col.header__col_contacts {
  color: #0f680e; }
  .header__col.header__col_contacts a {
    text-decoration: none;
    color: #0f680e; }
  .header__col.header__col_contacts .contacts-admin {
    font-size: 16px; }
    .header__col.header__col_contacts .contacts-admin a {
      font-size: 20px;
      padding-left: 35px; }
    .header__col.header__col_contacts .contacts-admin a.tell {
      display: block;
      padding: 8px 0 8px 92px; }
  .header__col.header__col_contacts .contacts-donate {
    font-size: 16px; }
    .header__col.header__col_contacts .contacts-donate a {
      font-size: 20px;
      padding-left: 10px; }
  .header__col.header__col_contacts .contacts-scype {
    padding: 12px 0 10px 0;
    color: #000;
    font-size: 16px; }
    .header__col.header__col_contacts .contacts-scype a {
      margin-left: 11px;
      color: #1200ff;
      text-decoration: none;
      font-size: 16px;
      font-style: italic;
      display: inline-block; }
    .header__col.header__col_contacts .contacts-scype .icon-scype {
      height: 19px;
      width: 19px;
      background: url(../images/header-sprite.png);
      background-position: -100px -6px;
      vertical-align: middle; }

.header__col.header__col_btns .btn {
  padding: 10px 0; }
  .header__col.header__col_btns .btn a {
    text-align: center;
    display: block;
    padding: 11px 9px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdd008), to(#feba12));
    background: -webkit-linear-gradient(top, #fdd008 0%, #feba12 100%);
    background: -moz-linear-gradient(top, #fdd008 0%, #feba12 100%);
    background: -o-linear-gradient(top, #fdd008 0%, #feba12 100%);
    background: linear-gradient(to bottom, #fdd008 0%, #feba12 100%);
    text-decoration: none;
    color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px 0px #030101;
    box-shadow: 0 1px 1px 0px #030101; }
  .header__col.header__col_btns .btn .large {
    padding: 11px 25px; }

.header__navbar {
  background: -webkit-gradient(linear, left top, left bottom, from(#44bb5b), to(#309544));
  background: -webkit-linear-gradient(top, #44bb5b 0%, #309544 100%);
  background: -moz-linear-gradient(top, #44bb5b 0%, #309544 100%);
  background: -o-linear-gradient(top, #44bb5b 0%, #309544 100%);
  background: linear-gradient(to bottom, #44bb5b 0%, #309544 100%); }

.menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 44px;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#44bb5b), to(#309544));
  background: -webkit-linear-gradient(top, #44bb5b 0%, #309544 100%);
  background: -moz-linear-gradient(top, #44bb5b 0%, #309544 100%);
  background: -o-linear-gradient(top, #44bb5b 0%, #309544 100%);
  background: linear-gradient(to bottom, #44bb5b 0%, #309544 100%); }
  .menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
  .menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 0px;
    text-align: center; }
    .menu ul li a:hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#4cda67), to(#2da045));
      background: -webkit-linear-gradient(top, #4cda67 0%, #2da045 100%);
      background: -moz-linear-gradient(top, #4cda67 0%, #2da045 100%);
      background: -o-linear-gradient(top, #4cda67 0%, #2da045 100%);
      background: linear-gradient(to bottom, #4cda67 0%, #2da045 100%); }

.wrapper > .clearfix.row .col-laptop-1-4 {
  padding: 0 10px; }

.wrapper > .clearfix.row .col-laptop-3-4 {
  padding: 0 10px; }

.sidebar {
  padding-top: 5px; }
  .sidebar .side-title {
    border-bottom: 1px solid #e7e7e7;
    padding: 18px 0 18px 3px; }
    .sidebar .side-title a {
      text-decoration: none;
      font-size: 20px;
      color: #010101; }
    .sidebar .side-title .side-list ul {
      list-style: none;
      padding: 18px 0 0 22px;
      margin-bottom: -13px; }
      .sidebar .side-title .side-list ul li > a {
        text-decoration: none;
        color: #ff0000;
        font-size: 16px;
        line-height: 22px; }

.content {
  padding-top: 23px; }
  .content h1 {
    font-size: 24px; }
  .content > p {
    font-size: 14px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 40px;
    margin-bottom: 60px; }
  .content > img {
    padding: 20px 0;
    max-width: 100%; }

.col-laptop-1-2 {
  width: 50%; }

.col-laptop-1-3 .news {
  padding: 12px 0 0 6px;
  text-align: left;
  margin-top: 80px;
  height: 90px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#309444), to(#45bc5c));
  background: -webkit-linear-gradient(top, #309444 0%, #45bc5c 100%);
  background: -moz-linear-gradient(top, #309444 0%, #45bc5c 100%);
  background: -o-linear-gradient(top, #309444 0%, #45bc5c 100%);
  background: linear-gradient(to bottom, #309444 0%, #45bc5c 100%); }
  .col-laptop-1-3 .news a.black {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: inline; }
  .col-laptop-1-3 .news a {
    font-size: 14px;
    color: #fff;
    padding-top: 6px;
    display: block;
    text-decoration: none; }

.col-laptop-1-3 img {
  display: block; }

.info {
  margin-top: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fec50d), to(#f1b107));
  background: -webkit-linear-gradient(top, #fec50d 0%, #f1b107 100%);
  background: -moz-linear-gradient(top, #fec50d 0%, #f1b107 100%);
  background: -o-linear-gradient(top, #fec50d 0%, #f1b107 100%);
  background: linear-gradient(to bottom, #fec50d 0%, #f1b107 100%);
  padding: 18px 3px; }
  .info .info-slogan {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px; }
  .info .info-contacts {
    color: #000; }
    .info .info-contacts a {
      text-decoration: none;
      color: #000; }
    .info .info-contacts .contacts-admin {
      font-size: 16px; }
      .info .info-contacts .contacts-admin a {
        font-size: 20px;
        padding-left: 35px; }
      .info .info-contacts .contacts-admin a.tell {
        display: block;
        padding: 8px 0 8px 92px; }
    .info .info-contacts .contacts-donate {
      font-size: 16px; }
      .info .info-contacts .contacts-donate a {
        font-size: 20px;
        padding-left: 10px; }

.banners {
  background: -webkit-gradient(linear, left top, left bottom, from(#45bb5c), to(#3d9b50));
  background: -webkit-linear-gradient(top, #45bb5c 0%, #3d9b50 100%);
  background: -moz-linear-gradient(top, #45bb5c 0%, #3d9b50 100%);
  background: -o-linear-gradient(top, #45bb5c 0%, #3d9b50 100%);
  background: linear-gradient(to bottom, #45bb5c 0%, #3d9b50 100%); }
  .banners .banners-container {
    text-align: justify;
    width: 100%; }
  .banners .banner-1 {
    display: inline-block;
    background-position: 0px 0px;
    position: relative;
    height: 69px;
    width: 198px;
    background-image: url("../images/banner-sprite.png"); }
  .banners .banner-2 {
    display: inline-block;
    background-position: -243px 0px;
    position: relative;
    height: 69px;
    width: 198px;
    background-image: url("../images/banner-sprite.png"); }
  .banners .banner-3 {
    background-position: -478px 0px;
    position: relative;
    display: inline-block;
    height: 69px;
    width: 219px;
    background-image: url("../images/banner-sprite.png"); }
  .banners .banner-4 {
    background-position: -734px 0px;
    position: relative;
    display: inline-block;
    height: 69px;
    width: 219px;
    background-image: url("../images/banner-sprite.png"); }
.banners .banners-container:before{
	content: '';
    display: block;
    width: 100%;
    height: 0;
}
.banners .banners-container:after{
	width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
.footer p {
  padding: 24px 3px;
  font-size: 14px;
  color: #000; }

.col-laptop-1-3 .news {
  margin: 0 auto;
  width: 232px;
  margin-top: 20px; }

.col-laptop-1-3 img {
  margin: 0 auto; }

.bars span {
  display: block;
  height: 4px;
  width: 27px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdd008), to(#feba12));
  background: -webkit-linear-gradient(top, #fdd008 0%, #feba12 100%);
  background: -moz-linear-gradient(top, #fdd008 0%, #feba12 100%);
  background: -o-linear-gradient(top, #fdd008 0%, #feba12 100%);
  background: linear-gradient(to bottom, #fdd008 0%, #feba12 100%);
  margin-bottom: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.bars {
  z-index: 999;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px; }

.bars__active span:nth-child(2) {
  visibility: hidden;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.bars__active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateX(5px) translateY(5px);
  -moz-transform: rotate(45deg) translateX(5px) translateY(5px);
  -ms-transform: rotate(45deg) translateX(5px) translateY(5px);
  -o-transform: rotate(45deg) translateX(5px) translateY(5px);
  transform: rotate(45deg) translateX(5px) translateY(5px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.bars__active span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateX(6px) translateY(-6px);
  -moz-transform: rotate(-45deg) translateX(6px) translateY(-6px);
  -ms-transform: rotate(-45deg) translateX(6px) translateY(-6px);
  -o-transform: rotate(-45deg) translateX(6px) translateY(-6px);
  transform: rotate(-45deg) translateX(6px) translateY(-6px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }

@media (max-width: 37.5em) {
  .menu {
    overflow-y: auto; }
  .banner {
    margin: 0 auto 10px; }
  .info {
    text-align: center; }
  .header__top .header-slogan {
    display: none; }
  .header__col_contacts {
    text-align: center; }
  .contacts-donate {
    margin-right: 50px; }
  .contacts-scype {
    margin-right: 75px; }
  .pad10 {
    padding-top: 55px; }
  .fullscrean {
    width: 100%; }
  .banner-1, .banner-2, .banner-3, .banner-4 {
    margin-bottom: 10px; }
  .banners-container {
    padding-top: 10px; } }

@media (min-width: 37.5em) {
  [class*="col"] {
    float: left; }
  .menu {
    overflow-y: auto; }
  .contacts-donate {
    margin-right: 50px; }
  .info {
    text-align: center; }
  .pad10 {
    padding-top: 55px; }
  .header__top .header-slogan {
    display: inline-block; }
  .col-phablet-1-2 {
    width: 50%;
    float: left; }
  .header__col_logo {
    width: 50%;
    float: left;
    text-align: center; }
  .header__col_contacts {
    width: 50%;
    float: left; }
  .header__col_btns {
    width: 50%;
    float: left; }
  .header__col_logo1 {
    text-align: center;
    width: 50%;
    float: left; }
    .header__col_logo1 img {
      padding-left: 4px; }
  .col-laptop-1-3 {
    width: 50%;
    float: left; }
  .col-laptop-1-4 {
    width: 50%;
    float: left; }
  .fullscrean {
    width: 100%; }
  .banner-1, .banner-2, .banner-3, .banner-4 {
    margin: 10px; } }

@media (min-width: 50em) {
  [class*="col"] {
    float: left; }
  .info {
    text-align: left; }
  .pad10 {
    padding-top: 55px; }
  .col-laptop-1-3 {
    width: 33.33%;
    float: left; }
  .col-laptop-1-4 {
    width: 50%;
    float: left; }
  .fullscrean {
    width: 100%; }
  .col-laptop-3-4 {
    float: left; }
  .banner-1, .banner-2, .banner-3, .banner-4 {
    margin: 10px 0; } }

@media (min-width: 64em) {
  [class*="col"] {
    float: left; }
  .pad10 {
    padding-top: 10px; }
  .header__top {
    position: static; }
  .bars {
    display: none; }
  .menu {
    display: block;
    position: static; }
    .menu ul li {
      float: left;
      width: 20%; }
  .soc-menu.pull-right {
    float: right; }
  .header__col.header__col_logo {
    width: 15%; }
  .header__col.header__col_contacts {
    width: 32%;
    padding-left: 25px; }
  .header__col.header__col_btns {
    width: 15%; }
  .header__col.header__col_logo1 {
    width: 38%;
    padding-left: 30px; }
  .info-contacts {
    float: left;
    padding-left: 295px; }
  .info-slogan {
    float: left; }
  .menu ul {
    border-left: 1px solid #57e673;
    border-right: 1px solid #247634; }
  .menu ul li {
    float: left; }
    .menu ul li:first-child {
      border-left: 1px solid #57e673; }
    .menu ul li:last-child {
      border-right: 1px solid #247634; }
    .menu ul li a {
      border-left: 1px solid #247634;
      border-right: 1px solid #57e673; }
  .soc-menu.pull-right {
    float: right; }
  .col-laptop-1-4 {
    width: 25%; }
  .col-laptop-3-4 {
    width: 75%; }
  .col-laptop-1-3 {
    width: 33.33%;
    padding: 0 10px; }
  .row {
    margin: 0 -10px; }
  .banner-1, .banner-2, .banner-3, .banner-4 {
    margin: 10px 0; } }
